<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NicoToolKit.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="it.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <NicoToolKit.My.MySettings>
            <setting name="version_local" serializeAs="String">
                <value>1.8.9</value>
            </setting>
            <setting name="username_pc" serializeAs="String">
                <value />
            </setting>
            <setting name="empresa" serializeAs="String">
                <value />
            </setting>
            <setting name="empresa_exist" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="version_remote" serializeAs="String">
                <value />
            </setting>
            <setting name="new_instance" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="new_instalation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hola_win" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="task_win" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="min_interface" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hour_program" serializeAs="String">
                <value />
            </setting>
            <setting name="min_program" serializeAs="String">
                <value />
            </setting>
            <setting name="day_program" serializeAs="String">
                <value />
            </setting>
            <setting name="OSFullName" serializeAs="String">
                <value />
            </setting>
            <setting name="TotalMemory" serializeAs="String">
                <value />
            </setting>
            <setting name="ProcessorName" serializeAs="String">
                <value />
            </setting>
            <setting name="StatePC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalHDD" serializeAs="String">
                <value />
            </setting>
            <setting name="NetworkAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="IpAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="error_code" serializeAs="String">
                <value />
            </setting>
        </NicoToolKit.My.MySettings>
        <it.My.MySettings>
            <setting name="version_local" serializeAs="String">
                <value>1.2</value>
            </setting>
            <setting name="username_pc" serializeAs="String">
                <value/>
            </setting>
            <setting name="empresa" serializeAs="String">
                <value/>
            </setting>
            <setting name="empresa_exist" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="version_remote" serializeAs="String">
                <value/>
            </setting>
        </it.My.MySettings>
    </userSettings>
</configuration>
